[submodule "ical4android"]
	path = ical4android
	url = https://gitlab.com/tasks.org/ical4android.git
[submodule "dav4android"]
	path = dav4android
	url = https://gitlab.com/tasks.org/dav4android.git
[submodule "taskwarrior-java-client"]
	path = taskwarrior-java-client
	url = https://github.com/aaschmid/taskwarrior-java-client.git
